{% extends "layout.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/kanban.css' %}">
{% endblock %}

{% block content %}
    <div id="kanban-container" class="kanban-container" data-update-url="{% url 'update_homework_status' %}"
         data-csrf-token="{{ csrf_token }}">
        <div class="column" data-status="TODO">
            <h4>Todo</h4>
            {% for hw in todos %}
                <div class="card" draggable="true" data-id="{{ hw.id }}">
                    <strong>{{ hw.title }}</strong><br>
                    <small>Due date: {{ hw.due_date }}</small>
                </div>
            {% empty %}
                <p>Nothing to do...</p>
            {% endfor %}
        </div>

        <div class="column" data-status="IN_PROGRESS">
            <h4>In progress</h4>
            {% for hw in in_progress %}
                <div class="card bg-warning" draggable="true" data-id="{{ hw.id }}">
                    <strong>{{ hw.title }}</strong>
                    <small>Due date: {{ hw.due_date }}</small>
                </div>
            {% empty %}
                <p>No homework in progress...</p>
            {% endfor %}
        </div>

        <div class="column" data-status="DONE">
            <h4>Done</h4>
            {% for hw in done %}
                <div class="card bg-success" draggable="true" data-id="{{ hw.id }}">
                    <strong>{{ hw.title }}</strong>
                    <small>Due date: {{ hw.due_date }}</small>
                </div>
            {% empty %}
                <p>No homework done...</p>
            {% endfor %}
            <button id="delete-done-btn" class="btn">Delete all done homeworks</button>
        </div>
    </div>
    <script src="{% static 'js/kanban_drag.js' %}"></script>
    <script src="{% static 'js/kanban_delete.js' %}"></script>
{% endblock %}