<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Math and IT for fun
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <div class="container">
        <nav class="nav-bar">
            <ul class="nav-content">

                {% if request.user.is_authenticated %}
                    <li class="home-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    {% if request.user.is_superuser %}
                        <li class="item"><a href="{% url 'student_list' %}">Students</a></li>
                        <li class="item"><a href="{% url 'add_homework' %}">New homework</a></li>
                    {% else %}
                    {% endif %}
                    <li class="item"><a href="{% url 'calendar_month_today' %}">Calendar</a></li>
                    <li class="logout-item">
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class='btn' type="submit">Logout</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    WF-HomeWork Organizer 2025
</footer>
</body>
</html>